Repository Blynskyniki/elastic-dsl-typescript: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, types

eslint:
  run: npx eslint -c ./.eslintrc.js --fix {staged_files}

types:
  run: npm run build

feat: eslint
  package.json
Due: none

fix: npm
  .npmrc
  package-lock.json
Due: none

fix: npm
  .npmrc
  commitlint.config.js
  package-lock.json
Due: eslint

fix: npm
  package-lock.json
Due: none

fix: npm publish test
  package-lock.json
Due: none

ci: test 2
  .github/workflows/publish-package-to-npmjs.yml
  .npmrc
Due: none

ci: semantic release
  .github/workflows/publish-package-to-npmjs.yml
  .releaserc
  package-lock.json
  package.json
  src/Builders/Text/index.ts
Due: eslint, types

ci: use branch main
  .github/workflows/publish-package-to-npmjs.yml
Due: none

ci: only node 18
  .github/workflows/publish-package-to-npmjs.yml
Due: none

ci: fix pipeline
  .github/workflows/publish-package-to-npmjs.yml
Due: none

Notes added by 'git notes add'
  75d18e4362d53effd19c27edeb9d7aa48ddc6faa
Due: none

feat: semantic release npm publish
  .github/workflows/publish-package-to-npmjs.yml
  .npmrc
  .releaserc
  package-lock.json
  package.json
Due: none

chore: fix pipeline
  .github/workflows/publish-package-to-npmjs.yml
Due: none

chore: fix pipeline
  .npmrc
Due: none

chore: fix pipeline
  .github/workflows/publish-package-to-npmjs.yml
  .releaserc
Due: none

chore: штыефдд @semantic-release/changelog
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  28008ae01d9f29aa627190a54f968a8551c2b1be
Due: none

feat: test publish
  README.md
Due: none

Notes added by 'git notes add'
  ea1fdb9e7e496fb26a45875576af59c8ba1babda
Due: none

feat: add text options
  src/Builders/Text/types.ts
  src/Types/QueryOptions/index.ts
Due: eslint, types

Notes added by 'git notes add'
  26b3333d322015ba01b4cb5821f5e24b65f81287
Due: none

fix: add default operator for query string
  src/Builders/Text/types.ts
  src/Types/QueryOptions/index.ts
Due: eslint, types

Notes added by 'git notes add'
  32444bd8cb4dbf748b0e8f2cdaa43ba3dc5f0d53
Due: none

fix: renamed default operator field
  src/Types/QueryOptions/index.ts
Due: eslint, types

Notes added by 'git notes add'
  23f823322b8cebd8e788b0921a6e00f74e3b2c13
Due: none

feat: Function Score
  src/Builders/Bool/index.ts
  src/Builders/FunctionScore/index.ts
  src/Builders/FunctionScore/types.ts
  src/Query/index.ts
  src/Query/types.ts
  src/__test__/Score/index.test.ts
  src/__test__/ScriptFields/index.test.ts
  src/index.ts
Due: eslint, types

Notes added by 'git notes add'
  f212aa98b98b7c9b4e2cac66beecc608e735ab6c
Due: none

feat: Function Score add script,gaus,linear,exp
  src/Builders/FunctionScore/types.ts
  src/__test__/Score/index.test.ts
Due: eslint, types

Notes added by 'git notes add'
  d94edb100bc00093e9a3de87f63f1598bc434d85
Due: none

chore: Update README.md
  README.md
Due: none

fix: Исправлены импорты
  src/Builders/Aggregation/index.ts
  src/Builders/Bool/index.ts
  src/Builders/Bool/types.ts
  src/Builders/EshopFacets/index.ts
  src/Builders/FunctionScore/index.ts
  src/Builders/FunctionScore/types.ts
  src/Builders/Nested/index.ts
  src/Builders/ScriptFields/index.ts
  src/Builders/Text/index.ts
  src/Builders/index.ts
  src/Query/index.ts
  src/Query/types.ts
  src/__test__/Aggs/index.test.ts
  src/__test__/Bool/BoolBulder.test.ts
  src/__test__/Nested/index.test.ts
  src/__test__/Query/index.test.ts
  src/__test__/Score/index.test.ts
  src/__test__/ScriptFields/index.test.ts
  src/__test__/Text/index.test.ts
  src/index.ts
  tsconfig.json
Due: eslint, types

Notes added by 'git notes add'
  f069363c0b97cdce24c769b0edb757cf74f57e0c
Due: none

feat: add boost to regex and prefix search
  src/Builders/Bool/types.ts
  src/Builders/FunctionScore/types.ts
  src/Types/QueryOptions/index.ts
Due: eslint, types

Notes added by 'git notes add'
  858f28306cdb86b625905f12c30181d5357c86f7
Due: none

ci: update deps
  package-lock.json
  package.json
Due: none

fix: release Trigger
  src/Types/QueryOptions/index.ts
Due: eslint, types

Notes added by 'git notes add'
  ad34c0137210439fcd33a74281cea65378678c22
Due: none

fix: updates
  .github/workflows/publish-package-to-npmjs.yml
  package-lock.json
  package.json
  src/__test__/Bool/BoolBulder.test.ts
  src/__test__/Score/index.test.ts
Due: eslint, types

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{ts, tsx}
